h1.header {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  width: auto;
  margin: auto 0;
  text-transform: uppercase;
  color: #ec5c57;
  font-family: 'Brandon Grotesque', sans-serif;
}
