* {
  box-sizing: border-box;
}

.container {
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.row {
  justify-content: center;
  display: flex;
  align-items: center;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.column-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-third {
  flex-basis: calc(200% / 3);
}

.character {
  width: 100%;
}
