body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

.letter {
  font-size: 2rem;
  color: black;
  display: inline-block;
  padding: 5px;
}

.letter.correct {
  color: #0f0;
  border-bottom: 2px;
}

.letter.incorrect {
  color: red;
  border-bottom: 2px red;
}
