* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.two-column {
  display: flex;
  flex-basis: 50%;
}

.p50 {
  width: 50%;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.start {
  display: flex;
  align-items: start;
}

.end {
  display: flex;
  align-items: end;
}

.m50 {
  display: flex;
  margin: 50%;
}
